# EL PROYECTO REQUIERE DE UN .ENV PARA FUNCIONAR
# VARIABLES DE ENTORNO REQUERIDAS PARA EJECUTAR EL PROYECTO

# PORT = // EL PUERTO DONDE QUIERES QUE SE EJECUTE EL SERVIDOR.
# DB_HOST = // HOST DE LA BASE DE DATOS LOCAL 
# DB_PORT = // PUERTO DE LA BASE DE DATOS LOCAL 
# DB_NAME = // NOMBRE DE LA BASE DE DATOS
# DB_USERNAME = // NOMBRE DE LA CUENTA O NOMBRE DE USUARIO DEL SQL 
# DB_PASSWORD = // CONTRASEÑA DE LA CUENTA O DEL SQL 